<div id="pavoblog-comments">
	{% if ( comments ) %}
		<h3>
			{{ text_comments }}
			<span class="comment-count">({{ comment_count }})</span>
		</h3>
		<ol class="comment-list">
			{% for comment in comments %}
				{% include 'pavoblog/comment/loop-comment.twig' with { 'comment' : comment } %}
			{% endfor %}
		</ol>
			
	{% endif %}

	{% include '/pavoblog/comment/comment-form.twig' %}
</div>